blis==0.7.4
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
emoji==0.5.1
en-core-web-sm==2.3.1
filelock==3.0.12
Flask==1.0.2
Flask-Cors==3.0.7
future==0.18.2
geocoder==1.38.1
gunicorn==19.9.0
idna==2.10
itsdangerous==2.0.0
jellyfish==0.7.1
Jinja2==3.0.0
joblib==1.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.0
matplotlib==3.4.2
murmurhash==1.0.5
networkx==2.5.1
nltk==3.4
numpy==1.20.3
packaging==20.9
pandas==1.2.4
Pillow==8.2.0
plac==1.1.3
preshed==3.0.5
pudb==2019.1
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
ratelim==0.1.6
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
singledispatch==3.6.1
six==1.16.0
sklearn==0.0
spacy==2.3.5
srsly==1.0.5
stop-words==2018.7.23
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.10.2
torch==1.8.0
torchvision==0.9.0
tqdm==4.60.0
transformers==4.5.1
typing-extensions==3.10.0.0
urllib3==1.26.4
urwid==2.1.2
wasabi==0.8.2
Werkzeug==2.0.0
word2number==1.1
wordsegment==1.3.1
